body {
	font-family: Helvetica, Arial;
}

#content h1 {
	font-size: 24px;
	margin: 0px;
}

#content h2 { 
	color: #FF5714;
	padding-top: 20px;
	padding-bottom: 10px;
	margin: 0px;
}

h3 {
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 25px;
}

a {
        text-decoration: none;
}

div#options-container {
	position:fixed;
	float: left;
	width: 24%;
}

#toc { 
	padding: 25px 5px;
}

#toc li {
	list-style-type: none;
	padding-left: 0px;
}

#toc li a {
        display: table-cell;
	font-size: 15px;
	font-weight: 800;
        color: #5d6576;
	padding-top: 5px;
	padding-bottom: 5px;
}

#toc p {
	color: grey;
}

#langs {
	padding: 5px;
}

#content {
	margin-left: 25%;
	width: 75%;
	padding: 5px;
	word-wrap: break-word;
}

#content a {
	color: #408ad4;
}

#content td {
        border-top: 1px solid black;
        padding: 4px;
}

#content pre.response {
        display: block;
	padding: 4px;
}

#content pre.prettyprint {
        border:0;
}

#content .resource {
	display: block;
	background: #fbfbfb;
	font-weight: bold;
	padding: 4px;
}

#content div.lang {
	padding: 5px;
	background: #f5f5f5;
        border-bottom: 1px solid #a8acb4;
        border-top: 1px solid #a8acb4;
}

#content .codeexample h4 {
	font-weight: bold;
	background: #fbfbfb;
        border-bottom: 1px solid #a8acb4;
	padding: 4px;
}

.toggleLang {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	font-style:normal;
	height:20px;
	width:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}

.codeexample {
	width: 60%;
	margin: 0 auto;
	border: 1px solid #a8acb4;
	border-radius: 5px;
	background: #f5f5f5;
}
