.test {
	color: blue;
}

body {
	font-family: "Trebuchet MS";
}

h2 { 
	color: #FF5714;
	padding-top: 20px;
	padding-bottom: 10px;
}

div {	
	border: 2px solid blue;
	display: inline-block;
}

a {
        text-decoration: none;
}

div#options-container {
	position:fixed;
	float: left;
	width: 24%;
}

#toc { 
	display: block;
	padding: 5px;
}

#toc li {
	list-style-type: none;
	border: 1px solid grey;	
	border-radius: 5px;
	padding: 2px;
}

#toc li a {
	font-size: small;
	color: #408ad4;
}

#toc p {
	color: grey;
}

#langs {
        *position: fixed;
	padding: 5px;
}

#content {
	margin-left: 25%;
	width: 75%;
	padding: 5px;
	word-wrap: break-word;
}

#content a {
	color: #408ad4;
}

#content td {
        border-top: 1px solid black;
        padding: 4px;
}

#content div.request {
	display: block;
	border: 2px solid green; 
}

#content div.response {
        display: block;
	border: 2px solid purple;
}

#content div.request p {
	color: #669900; 
}

#content div.response p {
	color: #e5da78;
}
